@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = "mainLayout.cshtml";
     <!-- ViewBag.Title = @Model?.Value("pageTitle") ?? null; -->

	var heroImg = Model?.Value<IPublishedContent>("heroImage")?.Url() ?? "";
    var imgMainAbout = Model?.Value<IPublishedContent>("imgMainAbout")?.Url() ?? "";
    var imgOurServices21 = Model?.Value<IPublishedContent>("imgOurServices21")?.Url() ?? "";
    var imgOurServices18 = Model?.Value<IPublishedContent>("imgOurServices18")?.Url() ?? "";
    var imgOurServices13 = Model?.Value<IPublishedContent>("imgOurServices13")?.Url() ?? "";
    var imgOurServices22 = Model?.Value<IPublishedContent>("imgOurServices22")?.Url() ?? "";
    var imgOurServices23 = Model?.Value<IPublishedContent>("imgOurServices23")?.Url() ?? "";
    var imgOurServices24 = Model?.Value<IPublishedContent>("imgOurServices24")?.Url() ?? "";
    var imgWhychooseus = Model?.Value<IPublishedContent>("imgWhychooseus")?.Url() ?? "";
    var imgSuccessStory = Model?.Value<IPublishedContent>("imgSuccessStory")?.Url() ?? "";
    var imgMainBrands1 = Model?.Value<IPublishedContent>("imgMainBrands1")?.Url() ?? "";
    var imgMainBrands2 = Model?.Value<IPublishedContent>("imgMainBrands2")?.Url() ?? "";
    var imgMainBrands3 = Model?.Value<IPublishedContent>("imgMainBrands3")?.Url() ?? "";
    var imgMainBrands4 = Model?.Value<IPublishedContent>("imgMainBrands4")?.Url() ?? "";
    var imgMainBrands5 = Model?.Value<IPublishedContent>("imgMainBrands5")?.Url() ?? "";
    var imgMainBrands6 = Model?.Value<IPublishedContent>("imgMainBrands6")?.Url() ?? "";
}

        <main>
            <section class="hero">
                <div class="hero-img-wrapper">
                    <img src="@heroImg" alt="">
                </div>
                <div class="container hero-container p-5 mt-5">
                    <div class="hero-div">
                        <h1>@Model.Value("h1")</h1>
                        <p>@Model.Value("heroP")</p>
                        <button class="btn-primary">@Model.Value("heroButtonTitle")</button>
                    </div>
                </div>
            </section>
            
            <section class="main-about">
                <div class="container main-about-container">
                    <div class="row align-items-center">
                        <div class="col-md-6 main-div">
                            <h6>@Model.Value("h6MainAbout")</h6>
                            <h2>@Model.Value("h2MainAbout")</h2>
                            <p class="main-cursive mainabout_p1">@Model.Value("pMainaboutP1")</p>
                            <p class="mainabout_p2">@Model.Value("pMainaboutP2")</p>
                            <img src="@imgMainAbout" alt="Tina Fox Signature">
                            <p class="mainabout_p3">@Model.Value("pMainaboutP3")</p>
                        </div>
                        <div class="col-md-6 main-about-div-form ">
                            <form class="callback-form">
                                <h2>Request a Call Back</h2>
                                <div class="content-form">
                                <p class="small-text">Dolor in reprehenderit in voluptate velit esse cillum 
                                    dolore eu fugiat nulla pariatur excepteur sint occaecat
                                </p>
                                <div class="form-group mb-3">
                                    <input type="text" id="name" name="name" placeholder="Name" required>
                                </div>
                            
                                <div class="form-group mb-3">
                                    <input type="email" id="email" name="email" placeholder="Email Address" required>
                                </div>
                            
                                <div class="form-group mb-3">
                                    <input type="tel" id="phone" name="phone" placeholder="Phone" required>
                                </div>
                            
                                <div class="form-group mb-3">
                                    <select id="consulting" name="consulting" required>
                                        <option value="" disabled selected>Select a consultation type</option>
                                        <option value="financial-consulting">Financial Consulting</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <button type="submit" class="button-secondary mb-4 mt-4 p-3">Submit</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="our-services our-services-index">
                <div class="container ourservicec">
                    <div class="our-services-top text-center mb-4">
                        <h6>@Model.Value("h6OurServices")</h6>
                        <h2>@Model.Value("h2OurServices")</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices21")</h5>
                                <img src="@imgOurServices21" alt="Risk Management" class="img-fluid">
                                <p>@Model.Value("pOurServices21")</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices18")</h5>
                                <img src="@imgOurServices18" alt="Financial Consulting" class="img-fluid">
                                <p>@Model.Value("pOurServices18")</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices13")</h5>
                                <img src="@imgOurServices13" alt="Business Strategy" class="img-fluid">
                                <p>@Model.Value("pOurServices13")</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices22")</h5>
                                <img src="@imgOurServices22" alt="Market Analysis" class="img-fluid">
                                <p>@Model.Value("pOurServices22")</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices23")</h5>
                                <img src="@imgOurServices23" alt="Investment Planning" class="img-fluid">
                                <p>@Model.Value("pOurServices23")</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="our-services-content text-center">
                                <h5>@Model.Value("h5OurServices24")</h5>
                                <img src="@imgOurServices24" alt="Tax Consulting" class="img-fluid">
                                <p>@Model.Value("pOurServices24")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="whychooseus">
                <div class="container whychooseus-container">
                  <div class="whyuscontent text-center mx-auto">
                    <div class="h2-wrapper col-md-6 mx-auto">
                      <h2>@Model.Value("h2Whychooseus")<span></span></h2>
                    </div>
                    <div class="p-wrapper col-md-8 mx-auto">
                      <p>@Model.Value("pWhychooseus")</p>
                    </div>
                    <button class="btn btn-primary">@Model.Value("whychooseusButtonTitle")</button>
                  </div>
                  <div class="text-center">
                    <img src="@imgWhychooseus" alt="">
                  </div>
                </div>
              </section>

            <section class="success-story">
                <div class="container success-story-container text-center">
                    <div>
                        <h6>@Model.Value("h6SuccessStory")</h6>
                        <h2>@Model.Value("h2SuccessStory")</h2>
                    </div>
                    <div class="success-content mt-5">
                        <div class="col-md-4 mb-3">
                            <h1>@Model.Value("h1SuccessStorycontent1")</h1>
                            <h5>@Model.Value("h5SuccessStorycontent1")</h5>
                        </div>
                        <div class="col-md-4 mb-3">
                            <h1>@Model.Value("h1SuccessStorycontent2")</h1>
                            <h5>@Model.Value("h5SuccessStorycontent2")</h5>
                        </div>
                        <div class=" col-md-4 mb-3">
                            <h1>@Model.Value("h1SuccessStorycontent3")</h1>
                            <h5>@Model.Value("h5SuccessStorycontent3")</h5>
                        </div>
                    </div>
                    <div class="success-div-video">
                        <img src="@imgSuccessStory" alt="video" class="img-fluid">
                    </div>
                </div>
            </section>

            <section class="recent-projects">
                    <div class=" container recent-projects-container">
                        <h6>@Model.Value("h6RPHeader")</h6>
                        <h2>@Model.Value("h2RPHeader")</h2>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3 project-item project1 d-flex flex-column justify-content-end">
                            <div>
                                <h6>@Model.Value("h6Project1")</h6>
                                <p>@Model.Value("pProject1")</p>
                            </div>
                            <a href="#" class="hover-icon"><i class="fa-solid fa-chevron-right"></i></a> 
                        </div>
                        <div class="col-md-3 project-item project2 d-flex flex-column justify-content-end">
                            <div>
                                <h6>@Model.Value("h6Project2")</h6>
                                <p>@Model.Value("pProject2")</p>
                            </div>
                            <a href="#" class="hover-icon"><i class="fa-solid fa-chevron-right"></i></a> 
                        </div>
                        <div class="col-md-3 project-item project3 d-flex flex-column justify-content-end">
                            <div>
                                <h6>@Model.Value("h6Project3")</h6>
                                <p>@Model.Value("pProject3")</p>
                            </div>
                            <a href="#" class="hover-icon"><i class="fa-solid fa-chevron-right"></i></a> 
                        </div>
                        <div class="col-md-3 project-item project4 d-flex flex-column justify-content-end">
                            <div>
                                <h6>@Model.Value("h6Project4")</h6>
                                <p>@Model.Value("pProject4")</p>
                            </div>
                            <a href="#" class="hover-icon"><i class="fa-solid fa-chevron-right"></i></a> 
                        </div>
                    </div>
            </section>

            <section class="main-brands">
                <div class="container main-brands-container d-flex mt-5 mb-5">
                    <div class="brand">
                        <img src="@imgMainBrands1" alt="Brand 1" />
                    </div>
                    <div class="brand">
                        <img src="@imgMainBrands2" alt="Brand 2" />
                    </div>
                    <div class="brand">
                        <img src="@imgMainBrands3" alt="Brand 3" />
                    </div>
                    <div class="brand">
                        <img src="@imgMainBrands4" alt="Brand 4" />
                    </div>
                    <div class="brand">
                        <img src="@imgMainBrands5" alt="Brand 5" />
                    </div>
                    <div class="brand">
                        <img src="@imgMainBrands6" alt="Brand 6" />
                    </div>
                </div>
            </section>
        </main>